USE [master]
GO
/****** Object:  Database [KTX_Group3]    Script Date: 9/29/2026 5:16:20 PM ******/
CREATE DATABASE [KTX_Group3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DMS_Group6', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\DMS_Group6.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DMS_Group6_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\DMS_Group6_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KTX_Group3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KTX_Group3]
GO
/****** Object:  User [testuserr]    Script Date: 9/29/2026 5:16:20 PM ******/
CREATE USER [testuserr] FOR LOGIN [testuserr] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [testuser]    Script Date: 9/29/2026 5:16:20 PM ******/
CREATE USER [testuser] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [DNKTX]    Script Date: 9/29/2026 5:16:20 PM ******/
CREATE USER [DNKTX] FOR LOGIN [DNKTX] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [testuser]
GO
ALTER ROLE [db_datareader] ADD MEMBER [DNKTX]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [DNKTX]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 9/29/2026 5:16:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHoaDon] [nvarchar](20) NOT NULL,
	[MaSinhVien] [nvarchar](20) NOT NULL,
	[TenPhong] [nvarchar](50) NOT NULL,
	[NgayLap] [date] NULL,
	[TienPhong] [decimal](18, 2) NULL,
	[ChiSoDien] [int] NULL,
	[ChiSoNuoc] [int] NULL,
	[TienDien] [decimal](18, 2) NULL,
	[TienNuoc] [decimal](18, 2) NULL,
	[TongTien]  AS (([TienPhong]+[TienDien])+[TienNuoc]),
	[TrangThaiThanhToan] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HopDong]    Script Date: 9/29/2026 5:16:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDong](
	[MaHopDong] [nvarchar](20) NOT NULL,
	[MaSinhVien] [nvarchar](20) NOT NULL,
	[TenPhong] [nvarchar](50) NOT NULL,
	[NgayBatDau] [date] NOT NULL,
	[NgayKetThuc] [date] NOT NULL,
	[TrangThaiHopDong] [nvarchar](20) NULL,
	[NgayTao] [date] NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHopDong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 9/29/2026 5:16:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[TenPhong] [nvarchar](50) NOT NULL,
	[LoaiPhong] [nvarchar](10) NULL,
	[SucChuaToiDa] [int] NOT NULL,
	[SoSinhVienHienTai] [int] NULL,
	[TrangThaiPhong] [nvarchar](20) NOT NULL,
	[GhiChu] [nvarchar](255) NULL,
	[Khu] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TenPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 9/29/2026 5:16:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[MaSinhVien] [nvarchar](20) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[SoDienThoai] [char](10) NULL,
	[Email] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[TrangThaiSinhVien] [nvarchar](20) NULL,
	[TenPhong] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSinhVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 9/29/2026 5:16:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTaiKhoan] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[MatKhau] [varchar](255) NOT NULL,
	[TenHienThi] [nvarchar](100) NOT NULL,
	[SoDienThoai] [varchar](10) NULL,
	[VaiTro] [nvarchar](20) NOT NULL,
	[LanDangNhapCuoi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[HoaDon] ([MaHoaDon], [MaSinhVien], [TenPhong], [NgayLap], [TienPhong], [ChiSoDien], [ChiSoNuoc], [TienDien], [TienNuoc], [TrangThaiThanhToan]) VALUES (N'INV2026010001', N'SV00001', N'B404', CAST(N'2026-01-05' AS Date), CAST(800000.00 AS Decimal(18, 2)), 33, 7, CAST(115500.00 AS Decimal(18, 2)), CAST(105000.00 AS Decimal(18, 2)), N'Đã thanh toán')
INSERT [dbo].[HoaDon] ([MaHoaDon], [MaSinhVien], [TenPhong], [NgayLap], [TienPhong], [ChiSoDien], [ChiSoNuoc], [TienDien], [TienNuoc], [TrangThaiThanhToan]) VALUES (N'INV2026010002', N'SV00002', N'B901', CAST(N'2026-01-05' AS Date), CAST(800000.00 AS Decimal(18, 2)), 40, 6, CAST(140000.00 AS Decimal(18, 2)), CAST(90000.00 AS Decimal(18, 2)), N'Đã thanh toán')
INSERT [dbo].[HoaDon] ([MaHoaDon], [MaSinhVien], [TenPhong], [NgayLap], [TienPhong], [ChiSoDien], [ChiSoNuoc], [TienDien], [TienNuoc], [TrangThaiThanhToan]) VALUES (N'INV2026010003', N'SV00003', N'A404', CAST(N'2026-01-05' AS Date), CAST(800000.00 AS Decimal(18, 2)), 49, 10, CAST(171500.00 AS Decimal(18, 2)), CAST(150000.00 AS Decimal(18, 2)), N'Đã thanh toán')
GO
INSERT [dbo].[HopDong] ([MaHopDong], [MaSinhVien], [TenPhong], [NgayBatDau], [NgayKetThuc], [TrangThaiHopDong], [NgayTao], [GhiChu]) VALUES (N'HD00001', N'SV00001', N'B404', CAST(N'2026-03-25' AS Date), CAST(N'2029-03-02' AS Date), N'Còn hiệu lực', CAST(N'2026-03-23' AS Date), NULL)
INSERT [dbo].[HopDong] ([MaHopDong], [MaSinhVien], [TenPhong], [NgayBatDau], [NgayKetThuc], [TrangThaiHopDong], [NgayTao], [GhiChu]) VALUES (N'HD00002', N'SV00002', N'B901', CAST(N'2025-09-01' AS Date), CAST(N'2026-06-30' AS Date), N'Còn hiệu lực', CAST(N'2025-08-30' AS Date), NULL)
INSERT [dbo].[HopDong] ([MaHopDong], [MaSinhVien], [TenPhong], [NgayBatDau], [NgayKetThuc], [TrangThaiHopDong], [NgayTao], [GhiChu]) VALUES (N'HD00003', N'SV00003', N'A404', CAST(N'2025-09-01' AS Date), CAST(N'2026-06-30' AS Date), N'Còn hiệu lực', CAST(N'2025-08-30' AS Date), NULL)
GO
INSERT [dbo].[Phong] ([TenPhong], [LoaiPhong], [SucChuaToiDa], [SoSinhVienHienTai], [TrangThaiPhong], [GhiChu], [Khu]) VALUES (N'A101', N'Nam', 6, 4, N'Trống', N'Không có', N'A')
INSERT [dbo].[Phong] ([TenPhong], [LoaiPhong], [SucChuaToiDa], [SoSinhVienHienTai], [TrangThaiPhong], [GhiChu], [Khu]) VALUES (N'A102', N'Nam', 8, 3, N'Trống', N'1', N'A')
INSERT [dbo].[Phong] ([TenPhong], [LoaiPhong], [SucChuaToiDa], [SoSinhVienHienTai], [TrangThaiPhong], [GhiChu], [Khu]) VALUES (N'A103', N'Nam', 4, 4, N'Đầy', N'-', N'A')
GO
INSERT [dbo].[SinhVien] ([MaSinhVien], [HoTen], [NgaySinh], [GioiTinh], [SoDienThoai], [Email], [DiaChi], [TrangThaiSinhVien], [TenPhong]) VALUES (N'SV00001', N'Đặng Thanh Tâm', CAST(N'2005-11-24' AS Date), N'Nữ', N'0962762173', N'sv00001@st.university.edu.vn', N'Quảng Nam', N'Đang ở', N'B404')
INSERT [dbo].[SinhVien] ([MaSinhVien], [HoTen], [NgaySinh], [GioiTinh], [SoDienThoai], [Email], [DiaChi], [TrangThaiSinhVien], [TenPhong]) VALUES (N'SV00002', N'Phạm Trọng Nghĩa', CAST(N'2005-04-17' AS Date), N'Nam', N'0721287156', N'sv00002@st.university.edu.vn', N'Quảng Nam', N'Đang ở', N'B901')
INSERT [dbo].[SinhVien] ([MaSinhVien], [HoTen], [NgaySinh], [GioiTinh], [SoDienThoai], [Email], [DiaChi], [TrangThaiSinhVien], [TenPhong]) VALUES (N'SV00003', N'Nguyễn Ngọc Diệp', CAST(N'2004-10-01' AS Date), N'Nữ', N'0772149282', N'sv00003@st.university.edu.vn', N'Lâm Đồng', N'Đang ở', N'A404')
GO
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [Email], [MatKhau], [TenHienThi], [SoDienThoai], [VaiTro], [LanDangNhapCuoi]) VALUES (1, N'adminktx@gmail.com', N'admin123', N'Quản trị viên', N'0988123456', N'Admin', CAST(N'2026-09-28T12:28:02.090' AS DateTime))
INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [Email], [MatKhau], [TenHienThi], [SoDienThoai], [VaiTro], [LanDangNhapCuoi]) VALUES (2, N'quanlyktx@gmail.com', N'matkhau123', N'Quản lý KTX', N'0977123456', N'Quản lý', CAST(N'2026-03-28T22:56:03.420' AS DateTime))
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TaiKhoan__A9D1053416CF01F2]    Script Date: 9/29/2026 5:16:21 PM ******/
ALTER TABLE [dbo].[TaiKhoan] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [TienPhong]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [ChiSoDien]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [ChiSoNuoc]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [TienDien]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [TienNuoc]
GO
ALTER TABLE [dbo].[HopDong] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[Phong] ADD  DEFAULT ((0)) FOR [SoSinhVienHienTai]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT (getdate()) FOR [LanDangNhapCuoi]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaSinhVien])
REFERENCES [dbo].[SinhVien] ([MaSinhVien])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([TenPhong])
REFERENCES [dbo].[Phong] ([TenPhong])
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD FOREIGN KEY([MaSinhVien])
REFERENCES [dbo].[SinhVien] ([MaSinhVien])
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD FOREIGN KEY([TenPhong])
REFERENCES [dbo].[Phong] ([TenPhong])
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD FOREIGN KEY([TenPhong])
REFERENCES [dbo].[Phong] ([TenPhong])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD CHECK  (([ChiSoDien]>=(0)))
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD CHECK  (([ChiSoNuoc]>=(0)))
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD CHECK  (([NgayLap]<=getdate()))
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD CHECK  (([TienDien]>=(0)))
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD CHECK  (([TienNuoc]>=(0)))
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD CHECK  (([TienPhong]>=(0)))
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD CHECK  (([TrangThaiThanhToan]=N'Đã thanh toán' OR [TrangThaiThanhToan]=N'Chưa thanh toán'))
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD CHECK  (([NgayTao]<=getdate()))
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD CHECK  (([TrangThaiHopDong]=N'Đã kết thúc' OR [TrangThaiHopDong]=N'Còn hiệu lực'))
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD  CONSTRAINT [CK_NgayHopDong] CHECK  (([NgayKetThuc]>[NgayBatDau]))
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [CK_NgayHopDong]
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD CHECK  (([Khu]='C' OR [Khu]='B' OR [Khu]='A'))
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD CHECK  (([SoSinhVienHienTai]>=(0)))
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD CHECK  (([SucChuaToiDa]=(8) OR [SucChuaToiDa]=(6) OR [SucChuaToiDa]=(4)))
GO
ALTER TABLE [dbo].[Phong]  WITH NOCHECK ADD CHECK  (([TrangThaiPhong]=N'Ngưng sử dụng' OR [TrangThaiPhong]=N'Bảo trì' OR [TrangThaiPhong]=N'Đầy' OR [TrangThaiPhong]=N'Trống'))
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD  CONSTRAINT [CK_Phong_LoaiPhong] CHECK  (([LoaiPhong]=N'Nữ' OR [LoaiPhong]=N'Nam'))
GO
ALTER TABLE [dbo].[Phong] CHECK CONSTRAINT [CK_Phong_LoaiPhong]
GO
ALTER TABLE [dbo].[Phong]  WITH NOCHECK ADD  CONSTRAINT [CK_SoLuong] CHECK  (([SoSinhVienHienTai]<=[SucChuaToiDa]))
GO
ALTER TABLE [dbo].[Phong] CHECK CONSTRAINT [CK_SoLuong]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD CHECK  (([GioiTinh]=N'Khác' OR [GioiTinh]=N'Nữ' OR [GioiTinh]=N'Nam'))
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD CHECK  (([NgaySinh]<getdate()))
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD CHECK  (([TrangThaiSinhVien]=N'Đã rời KTX' OR [TrangThaiSinhVien]=N'Đang ở'))
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD CHECK  (([Email] like '%@%.%'))
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD CHECK  ((len([MatKhau])>=(6)))
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD CHECK  (([SoDienThoai] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD CHECK  (([VaiTro]=N'Quản lý' OR [VaiTro]=N'Admin'))
GO
/****** Object:  StoredProcedure [dbo].[sp_CapNhatHopDong]    Script Date: 9/29/2026 5:16:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_CapNhatHopDong]
AS
BEGIN
    UPDATE HopDong
    SET TrangThaiHopDong =
        CASE
            WHEN NgayKetThuc < GETDATE() THEN N'Hết hạn'
            ELSE N'Còn hiệu lực'
        END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ChuyenPhong]    Script Date: 9/29/2026 5:16:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_ChuyenPhong]
    @MaSinhVien VARCHAR(20),
    @PhongMoi VARCHAR(20)
AS
BEGIN
    UPDATE SinhVien
    SET TenPhong = @PhongMoi
    WHERE MaSinhVien = @MaSinhVien
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TaoHoaDon]    Script Date: 9/29/2026 5:16:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_TaoHoaDon]
    @MaHoaDon VARCHAR(20),
    @MaSinhVien VARCHAR(20),
    @TenPhong VARCHAR(20),
    @TienPhong DECIMAL(18,2),
    @ChiSoDien INT,
    @ChiSoNuoc INT
AS
BEGIN
    DECLARE @TienDien DECIMAL(18,2) = @ChiSoDien * 3500
    DECLARE @TienNuoc DECIMAL(18,2) = @ChiSoNuoc * 15000

    INSERT INTO HoaDon
    (MaHoaDon,MaSinhVien,TenPhong,NgayLap,TienPhong,ChiSoDien,ChiSoNuoc,TienDien,TienNuoc,TrangThaiThanhToan)
    VALUES
    (@MaHoaDon,@MaSinhVien,@TenPhong,GETDATE(),@TienPhong,@ChiSoDien,@ChiSoNuoc,@TienDien,@TienNuoc,N'Chưa thanh toán')
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TaoHopDong]    Script Date: 9/29/2026 5:16:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_TaoHopDong]
    @MaHopDong VARCHAR(20),
    @MaSinhVien VARCHAR(20),
    @TenPhong VARCHAR(20),
    @NgayBatDau DATE,
    @NgayKetThuc DATE
AS
BEGIN
    INSERT INTO HopDong
    VALUES (@MaHopDong,@MaSinhVien,@TenPhong,@NgayBatDau,@NgayKetThuc,N'Còn hiệu lực',GETDATE(),NULL)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ThanhToan]    Script Date: 9/29/2026 5:16:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_ThanhToan]
    @MaHoaDon VARCHAR(20)
AS
BEGIN
    UPDATE HoaDon
    SET TrangThaiThanhToan = N'Đã thanh toán'
    WHERE MaHoaDon = @MaHoaDon
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemSinhVien]    Script Date: 9/29/2026 5:16:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_ThemSinhVien]
    @MaSinhVien VARCHAR(20),
    @HoTen NVARCHAR(100),
    @NgaySinh DATE,
    @GioiTinh NVARCHAR(10),
    @SDT VARCHAR(10),
    @Email VARCHAR(100),
    @DiaChi NVARCHAR(255),
    @TenPhong VARCHAR(20)
AS
BEGIN
    INSERT INTO SinhVien
    VALUES (@MaSinhVien,@HoTen,@NgaySinh,@GioiTinh,@SDT,@Email,@DiaChi,N'Đang ở',@TenPhong)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_XoaSinhVien]    Script Date: 9/29/2026 5:16:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_XoaSinhVien]
    @MaSinhVien VARCHAR(20)
AS
BEGIN
    UPDATE SinhVien
    SET TrangThaiSinhVien = N'Đã rời KTX',
        TenPhong = NULL
    WHERE MaSinhVien = @MaSinhVien
END
GO
/****** Object:  Trigger [dbo].[TRG_UpdateTrangThaiHopDong]    Script Date: 9/29/2026 5:16:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_UpdateTrangThaiHopDong]
ON [dbo].[HopDong]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE hd
    SET TrangThaiHopDong = 
        CASE 
            WHEN hd.NgayKetThuc < GETDATE() THEN N'Đã kết thúc'
            ELSE N'Còn hiệu lực'
        END
    FROM HopDong hd
    INNER JOIN inserted i 
        ON hd.MaHopDong = i.MaHopDong;
END
GO
ALTER TABLE [dbo].[HopDong] ENABLE TRIGGER [TRG_UpdateTrangThaiHopDong]
GO
/****** Object:  Trigger [dbo].[TRG_SinhVien_Insert]    Script Date: 9/29/2026 5:16:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_SinhVien_Insert]
ON [dbo].[SinhVien]
INSTEAD OF INSERT
AS
BEGIN
    -- 1. Check phòng tồn tại
    IF EXISTS (
        SELECT 1 FROM inserted i
        LEFT JOIN Phong p ON i.TenPhong = p.TenPhong
        WHERE p.TenPhong IS NULL
    )
    BEGIN
        RAISERROR(N'Phòng không tồn tại!',16,1);
        RETURN;
    END

    -- 2. Check giới tính
    IF EXISTS (
        SELECT 1
        FROM inserted i
        JOIN Phong p ON i.TenPhong = p.TenPhong
        WHERE i.GioiTinh <> p.LoaiPhong
    )
    BEGIN
        RAISERROR(N'Sai giới tính phòng!',16,1);
        RETURN;
    END

    -- 3. Check phòng bảo trì
    IF EXISTS (
        SELECT 1
        FROM inserted i
        JOIN Phong p ON i.TenPhong = p.TenPhong
        WHERE p.TrangThaiPhong IN (N'Bảo trì', N'Ngưng sử dụng')
    )
    BEGIN
        RAISERROR(N'Phòng không khả dụng!',16,1);
        RETURN;
    END

    -- 4. Check sức chứa
    IF EXISTS (
        SELECT 1
        FROM inserted i
        JOIN Phong p ON i.TenPhong = p.TenPhong
        WHERE p.SoSinhVienHienTai >= p.SucChuaToiDa
    )
    BEGIN
        RAISERROR(N'Phòng đã đầy!',16,1);
        RETURN;
    END

    INSERT INTO SinhVien
    SELECT * FROM inserted;
END
GO
ALTER TABLE [dbo].[SinhVien] ENABLE TRIGGER [TRG_SinhVien_Insert]
GO
/****** Object:  Trigger [dbo].[TRG_UpdatePhong]    Script Date: 9/29/2026 5:16:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   TRIGGER [dbo].[TRG_UpdatePhong]
ON [dbo].[SinhVien]
AFTER INSERT, DELETE, UPDATE
AS
BEGIN
    UPDATE P
    SET SoSinhVienHienTai = ISNULL(SV.CountSV,0)
    FROM Phong P
    LEFT JOIN (
        SELECT TenPhong, COUNT(*) CountSV
        FROM SinhVien
        GROUP BY TenPhong
    ) SV ON P.TenPhong = SV.TenPhong;

    UPDATE Phong
    SET TrangThaiPhong =
        CASE
            WHEN SoSinhVienHienTai >= SucChuaToiDa THEN N'Đầy' 
			ELSE N'Trống'
        END
END
GO
ALTER TABLE [dbo].[SinhVien] ENABLE TRIGGER [TRG_UpdatePhong]
GO
/****** Object:  Trigger [dbo].[TRG_UpdateRoomCount]    Script Date: 9/29/2026 5:16:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_UpdateRoomCount]
ON [dbo].[SinhVien]
AFTER INSERT
AS
BEGIN
    UPDATE Phong
    SET SoSinhVienHienTai = (SELECT COUNT(*) FROM SinhVien WHERE TenPhong = (SELECT TenPhong FROM inserted))
    WHERE TenPhong = (SELECT TenPhong FROM inserted);

    -- Tự động chuyển trạng thái phòng sang 'Đầy' nếu đạt sức chứa
    UPDATE Phong
    SET TrangThaiPhong = N'Đầy'
    WHERE SoSinhVienHienTai = SucChuaToiDa;
END
GO
ALTER TABLE [dbo].[SinhVien] ENABLE TRIGGER [TRG_UpdateRoomCount]
GO
USE [master]
GO
